.DS_Store
bin
gen
obj
native-lib/.settings/org.eclipse.jdt.ui.prefs
native-lib/.settings/org.eclipse.jdt.ui.prefs
native-lib/.settings/org.eclipse.jdt.core.prefs
native-lib/local.properties
demo/.settings/org.eclipse.jdt.core.prefs
demo/.settings/org.eclipse.jdt.ui.prefs
test/.settings/org.eclipse.jdt.ui.prefs
test/.settings/org.eclipse.jdt.core.prefs
android-support-v7-appcompat
