.DS_Store
eclipse
bin
gen
obj
native-lib/.settings/org.eclipse.jdt.ui.prefs
native-lib/.settings/org.eclipse.jdt.ui.prefs
native-lib/.settings/org.eclipse.jdt.core.prefs
native-lib/local.properties
benchmark/.settings/org.eclipse.jdt.core.prefs
benchmark/.settings/org.eclipse.jdt.ui.prefs
benchmark/build.xml
benchmark/local.properties
benchmark/docs
test/.settings/org.eclipse.jdt.ui.prefs
test/.settings/org.eclipse.jdt.core.prefs
android-support-v7-appcompat
graphics
